@using MbmStore.Models;

@{
    ViewBag.Title = "Customer";
}

@helper DisplayAddressLabel (Customer c)
{
    <div>
        <p>
            @c.FirstName @c.LastName<br />
            @c.Address<br />
            @c.Zip @c.City<br />
        </p>
    </div>
}

@helper DisplayPhoneList (Customer c) { 
    <span>
        @c.FirstName @c.LastName, Age: @c.Age, Phone Numbers: @c.AllPhoneNumbers
    </span>
}

<h2>Customer</h2>
@foreach (Customer c in ViewBag.Customers) {
    @DisplayAddressLabel(c)
}

<p>
    @foreach (Customer c in ViewBag.Customers)
    {
        @DisplayPhoneList(c)<br/>
    }
</p>






