@using MbmStore.Models;
@using MbmStore.ViewModels;

@model CatalogueViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products";
}


@helper RenderBooks(List<Book> items)
{
    <h2>The Books</h2>
    foreach (Book b in items)
    {
        @Html.Partial("ProductSummaryBook", b);
        <br/>
    }
}

@helper RenderCDs(List<MusicCD> items)
{
    <h2>The CDs</h2>
    foreach (MusicCD c in items)
    {
        @Html.Partial("ProductSummaryMusicCD", c);
        <br/>
    }
}

@helper RenderMovies(List<Movie> items)
{
    <h2>The Movies</h2>
    foreach (Movie m in items)
    {
        @Html.Partial("ProductSummaryMovie", m);
        <br />
    }
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    
    <body>
        <div>
            @using (Html.BeginForm("Index", "Cart"))
            { @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="View Cart" />
            }
        </div>
        <div>
            <h1>@ViewBag.Title</h1>
            @RenderBooks(Model.Books)
            @RenderCDs(Model.MusicCDs)
            @RenderMovies(Model.Movies)
        </div>
    </body>
</html>



