@using MbmStore.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Invoices";
}

<h1>@ViewBag.Title</h1>

@helper RenderOrderItem(OrderItem orderItem)
{
    <tr>
        <td>@orderItem.</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
}

<table id="OrderItemsTable">
    <tr>
        <th align="right">InvoiceNumber</th>
        <th align="left">Customer</th>
        <th align="left">Product</th>
        <th align="right">Quantity</th>
        <th align="right">Price</th>
    </tr>
    @foreach(Invoice i in ViewBag.Invoices)
    {
        bool firstItem = true;
        foreach (OrderItem oi in i.OrderItems)
        {
            string invoiceNum = firstItem ? i.InvoiceId.ToString() : string.Empty;
            string custNam = firstItem ? i.Customer.FirstName + i.Customer.LastName : string.Empty;
            <tr>
                <td align="right">@invoiceNum</td>
                <td align="left">@custNam</td>
                <td align="left">@oi.Product.Title</td>
                <td align="right">@oi.Quantity</td>
                <td align="right">@oi.TotalPrice</td>
            </tr>
            firstItem = false;
        }
        <tr>
            <td align="right">&nbsp;</td>
            <td align="left">&nbsp;</td>
            <td align="left"><b>Total</b></td>
            <td align="right">&nbsp;</td>
            <td align="right"><b>@i.TotalPrice</b></td>
        </tr>
    }
</table>

